@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&family=Roboto+Serif:opsz,wght@8..144,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:is(img, svg) {
  max-width: 100%;
}

body {
  font-family: system-ui;
  --error-red: #fa5252;
  --error-bg: #ffe3e3c7;
  --bg-dark: #1e1e1e;
  --text-color: #fff;
  --font-supporting: "Poppins", sans-serif;
  --font-main: "Roboto Serif", serif;
  --bold: 700;
  --semi-bold: 600;
  --medium: 500;
  --regular: 400;
  --light: 300;
}

button {
  font-family: system-ui;
}

.wrapper {
  height: 100dvh;
  background-color: var(--bg-dark);
}

.section-header {
  font-family: var(--font-main);
  color: var(--text-color);
  font-size: clamp(4rem, 30vw, 6rem);;
  text-transform: capitalize;
}

.section-description {
  font-family: var(--font-supporting);
  color: var(--text-color);
  font-weight: var(--light);
}

/* Cta styles for sections */
.section-cta-main {
  background-color: var(--text-color);
  color: var(--bg-dark);
  text-decoration: none;
  padding: 0.5em 2em;
  font-weight: var(--bold);
  border-radius: 0.3rem;
}

.section-cta-secondary {
  color: var(--text-color);
  text-decoration: none;
  font-weight: var(--light);
}

.signup-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100dvh;
}

.signup-form > * {
  height: 100%;
}

.signup-form > .signup-form__content {
  display: flex;
  gap: 1em;
  height: fit-content;
  flex-direction: column;
  width: 80%;
  margin: 5em auto;
  padding: 1em;
}

.signup-form__content > h2 {
  font-size: 2rem;
}

.signup-form__content > .error {
  outline: 2px solid var(--error-red);
  padding: 0.7em;
  border-radius: 0.5rem;
  background-color: var(--error-bg);
  color: var(--error-red);
  text-align: center;
  text-transform: capitalize;
}

.signup-form__content > .form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  text-transform: capitalize;
}

.signup-form__content > .form-group input {
  padding: 1em 0.5em;
  border-radius: 0.4rem;
  border: 0;
  outline: 3px solid rgb(0, 157, 255);
  background-color: rgba(218, 218, 218, 0.137);
}

.signup-form__content > button {
  border-radius: 0.4rem;
  border: 0;
  padding: 1em 0;
  cursor: pointer;
  color: #333;
  font-weight: bold;
  font-size: 0.9rem;
  transition: all 300ms ease;

  &:hover {
    color: #fff;
    background-color: rgb(0, 157, 255);
  }
}

.signup-form__content > .account-exists {
  text-transform: capitalize;
}

.account-exists .link {
  color: rgb(0, 157, 255);
}

.signup-form > .signup-form__image {
  object-fit: cover;
  grid-column: span 2;
}

/* Navbar */
.primary-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 5em;
  position: sticky;
  top: 10px;
  z-index: 1000;
}

.primary-nav > .logo img {
  width: 10em;
}

.primary-nav > .primary-nav__links {
  list-style: none;
  display: inherit;
  align-items: center;
  gap: 6em;
  /* outline: 2px solid green; */
  width: 90%;
}

.primary-nav > .primary-nav__links > .margin-left-auto {
  margin-left: auto;
}

.primary-nav__links > .link > * {
  color: var(--text-color);
  text-decoration: none;
}

.primary-nav__links > .signup-cta {
  & > * {
    background-color: var(--text-color);
    padding: 0.5em 1em;
    border-radius: 0.5rem;
    color: var(--bg-dark);
    font-weight: bold;
  }
}

.primary-nav__links > .user-avatar > .user-avatar__options {
  all: unset;
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: clip;
  position: relative;

  img {
    width: inherit;
    aspect-ratio: 1;
    border-radius: inherit;
    object-fit: cover;
    border: 2px solid #fff;
    cursor: pointer;
  }

  /* Profile */
  .user-profile-dropdown {
    position: absolute;
    left: -2rem;
    border-radius: 0.5rem;
    background-color: var(--text-color);
    padding: 1em 0.3em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 120px;
    color: var(--bg-dark);

    p {
      border-bottom: thin solid var(--bg-dark);
    }

    a {
      text-decoration: none;
      color: unset;
      border-radius: 0.3rem;
    }

    button {
      all: unset;
      cursor: pointer;
      padding: 0.5em;
      border-radius: 0.3rem;
    }
  }

  .user-profile-dropdown > * {
    padding: 0.5em;
  }

  .user-profile-dropdown > *:not(p):hover {
    background-color: #2222223a;
  }
}

/* Hero stuff */
.hero-section {
  display: flex;
  position: relative;
  overflow-x: clip;
}

/* Actual content of the hero section */
.hero-section > .hero-section__content {
  width: 70%;
  margin: 3em 3em 0 5em;
}

.hero-section__content > .header {
  font-size: 4rem;
}

.hero-section__content > .margin-top {
  margin-top: 0.5em;
  width: 60%;
}

.hero-section__content > .section-ctas {
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 1.5em;
  display: flex;
  align-items: center;
  gap: 1em;
}

.section-ctas > .learn {
  display: inherit;
  align-items: inherit;
  gap: 0.5em;
}

.hero-section > .hero-section__image {
  position: relative;
  isolation: isolate;

  img {
    /* width: 100px; */
    scale: 1.4;
    rotate: 15deg;
    object-fit: cover;
    translate: 0 70px;
  }
}

.hero-section__image::before {
  content: "";
  background-color: #00000042;
  position: absolute;
  width: 800px;
  aspect-ratio: 1;
  top: -9rem;
  right: -20rem;
  border-radius: 50%;
  z-index: -1 !important;
}

/* Service circle image styles */
.service-cirlce {
  cursor: pointer;
  img {
    background-color: #fff;
    width: 55px;
    aspect-ratio: 1;
    border-radius: 50%;
    transition: scale 300ms ease-in-out;
    &:hover {
      scale: -1.1;
    }
  }
}

/* Modal/Dialog */
.register-prompt {
  width: -moz-fit-content;
  width: fit-content;
  padding: 1em;
  margin-top: 0.5em;
  background-color: var(--text-color);
  border-radius: 0.3rem;
}

.register-prompt > h4 {
  font-size: 1.1rem;
  text-align: center;
  margin-inline: auto;
  font-weight: var(--bold);
  color: var(--bg-dark);
}

.register-prompt > .register-prompt__ctas {
  margin-top: 0.5em;
  display: flex;
  gap: 1em;
}

.register-prompt__ctas > * {
  outline: 2px solid var(--bg-dark);
  border-radius: 0.3rem;
}

.register-prompt__ctas > .create {
  text-decoration: none;
  background-color: var(--bg-dark);
  color: var(--text-color);
  padding: 0.5em 1em;
}

.register-prompt__ctas > .cancel {
  border: 0;
  background-color: transparent;
  font-weight: var(--bold);
  padding: 0.5em 2em;
  cursor: pointer;
}

/* Profile page ---- card */
.user-profile-card {
  height: 100dvh;
  background-color: var(--bg-dark);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-flow: dense;
  gap: 2em;
  padding: 3em;
}

/* Styles for currently active user details */

.user-profile-card > .user-profile-current {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: fit-content;

  .back {
    text-decoration: none;
    color: var(--bg-dark);
    background-color: var(--text-color);
    width: -moz-fit-content;
    width: fit-content;
    padding: 0.5em 1em;
    border-radius: 0.3rem;
    font-weight: var(--semi-bold);
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  .user-profile-image {
    width: -moz-fit-content;
    width: fit-content;
    isolation: isolate;
    position: relative;
    border-radius: 50%;

    /* Actual user avatar/image */
    img {
      width: 400px;
      aspect-ratio: 1;
      border: 2px solid var(--text-color);
      border-radius: 50%;
    }

    /* Edit image button */
    .edit-button {
      width: 40px;
      aspect-ratio: 1;
      border-radius: 50%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: 0;
      right: 6.2rem;
      z-index: 100;
      font-size: 1rem;
      cursor: pointer;
      border: 0;
      background-color: var(--text-color);
      box-shadow: 3px 4px 15px rgb(0 0 0 / 0.5);

      label {
        cursor: inherit;
      }
    }
  }

  .user-profile-content {
    padding-left: 2em;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    h1 {
      font-size: 3rem;
    }

    .logout {
      width: -moz-fit-content;
      width: fit-content;
      padding: 0.5em 2em;
      cursor: pointer;
      border: 0;
      background-color: var(--text-color);
      color: var(--bg-dark);
      font-weight: var(--bold);
      border-radius: 0.3rem;
      margin-top: 1em;
    }
  }
}

/* Styles for the yet-to-update part (sorta) */
.user-profile-card > .user-profile-update {
  color: var(--text-color);
  padding: 1em;
  grid-column: span 2;
  display: flex;
  gap: 2em;

  & > * {
    background-color: #69686874;
    padding: 2em;
    border-radius: 0.5rem;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 0.3em;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 50%;

    .form-group {
      display: inherit;
      flex-direction: inherit;
      width: 100%;
      gap: 0.5em;

      :is(input, select) {
        border: 0;
        padding: 1em;
        border-radius: 0.3rem;
        background-color: transparent;
        outline: 2px solid var(--text-color);
        color: #fff;
      }
    }

    /* Change account link/button */
    a {
      color: var(--text-color);
    }

    /* Update user profile details */
    button {
      border: 0;
      background-color: var(--text-color);
      color: var(--bg-dark);
      padding: 0.5em 2em;
      cursor: pointer;
      width: -moz-fit-content;
      width: fit-content;
      font-weight: var(--semi-bold);
      font-size: 1rem;
      display: flex;
      gap: 0.5em;
      align-items: center;
      border-radius: 0.3rem;
    }
  }

  /* Delete */
  .account-options {
    height: fit-content;
    width: 35%;
    color: var(--error-red);
    padding: 2em;

    .delete-account {
      display: flex;
      flex-direction: column;
      gap: 1em;

      button {
        border: 0;
        background-color: var(--error-bg);
        padding: 0.7em 1em;
        outline: 3px solid var(--error-red);
        color: var(--error-red);
        font-weight: var(--semi-bold);
        border-radius: 0.5rem;
        display: flex;
        gap: 1em;
        font-size: 1rem;
        align-items: center;
        cursor: pointer;
        transition: all 300ms ease;

        &:hover {
          background-color: var(--error-red);
          color: var(--text-color);
        }

        .icon {
          font-size: 1.1rem;
        }
      }
    }

    .warning {
      background-color: #fff3bf;
      outline: 3px solid #ffd43b;
      color: #f59f00;
      border-radius: 0.5rem;
      margin-top: 2em;
      padding: 0.8em;
    }
  }
}
